* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}

.logo{
    width: 10%;
    position: fixed;
}

body {
    background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg?w=826&t=st=1681877835~exp=1681878435~hmac=52911a3a7953e88ec970017aeb52db7a1385489266c5add046910a3b46872010') no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}



.navigation a {
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgb(0, 217, 255), rgb(0, 0, 128));
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.Encabezado {
    margin-left: 15%;
    margin-right: 15%;
}

h4 {
    text-align: center;
}

#Nome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Titulo {
    text-align: center;
    margin: 0;
    padding: 2%;
    color: white;
    background: linear-gradient(to right, rgb(0, 153, 255), rgb(4, 61, 250));
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: aliceblue;
}

#inicio {
    margin-left: 600px;
}

#nosotros {
    margin-left: 600px;
}

/*Texto principal del index*/
.title {
    text-align: center;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
    color: white; 
    padding-bottom: 5px;
}
.in {
    font-weight: 400;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.off {
    text-align: center;
    font-weight: 400;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}


/* footer sección*/

.footer_section {
    background: radial-gradient(circle, rgb(101, 114, 255) 0%, rgb(19, 79, 148) 100%);
    padding: 15px;
    font-weight: 200;
}

.footer_section p {
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.footer_section a {
    color: rgb(247, 226, 250);
    font-weight: 400;
}

/*CARTAS*/

.card-group {
    width: 100%;
    padding: 150px;
    padding-top: 100px;
}
.card-title{
    font-weight: 600;
    text-align: center;
}

.btnCard {
    width: 100%;
}

.C{
    padding: 20px;
}



/*SECCIÓN MAPA*/
.container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px; /* Ajusta el ancho máximo según tu diseño */
    margin: 0 auto; /* Centra el contenedor */
}

.info {
    width: 55%; /* Ancho del contenedor de información */
}

.mapouter {
    width: 80%; /* Ancho del contenedor del mapa */
}

.mapouter .gmap_canvas {
    position: relative;
    height: 330px;
}

.mapouter .gmap_canvas iframe {
    width: 100%;
    height: 100%;
}
/* Estilos adicionales según sea necesario para los títulos y párrafos */



/*SECTOR SOCIOS*/

.socio{
    padding-left: 40%;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(255, 69, 0); /* Cambiar a un tono de naranja */
    box-shadow: 0 0 25px rgb(255, 69, 0); /* Cambiar la sombra a un tono de naranja */
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(255, 69, 0),
                0 0 25px rgb(255, 69, 0),
                0 0 50px rgb(255, 69, 0),
                0 0 100px rgb(255, 69, 0);
}


/*ESPACIO RANKING*/

.ranking {
    padding: 20px 20px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.rankimg-container {
    width: 20%;
}

.rankimg {
    width: 10%;
}

.title {
    text-align: center;
    font-weight: 600;
    color: white; 
    padding-bottom: 5px;
}

.rankingtext {
    color: white;
    padding-left: 20px; /* Espacio entre la imagen y el texto */
    flex-grow: 1; /* El texto ocupa el espacio restante */
}
