* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}

body {
    background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg?w=826&t=st=1681877835~exp=1681878435~hmac=52911a3a7953e88ec970017aeb52db7a1385489266c5add046910a3b46872010') no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.logo {
    position: fixed;
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgb(0, 217, 255), rgb(0, 0, 128));
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

#Nome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Titulo {
    text-align: center;
    margin: 0;
    padding: 2%;
    color: white;
    background: linear-gradient(to right, rgb(0, 89, 255), rgb(0, 0, 128));
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: aliceblue;
}

#inicio {
    margin-left: 600px;
}

#nosotros {
    margin-left: 600px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 5px;
    float: left;
}

.header {
    background-color: royalblue;
    float: left;
    height: 40px;
    width: 100%;
}

.sidebar {
    float: left;
    width: 15%;
    height: 400px;
    background-color: rgb(0, 204, 255);
}

.content {
    float: left;
    width: 85%;
    height: 400px;
    background-color: lightcyan;
}

.footer {
    float: left;
    width: 100%;
    height: 50px;
    background-color: rgb(224, 246, 255);
}

.video {
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: .9em;
    color: #162938;
    font-weight: 500px;
    margin: 25px 0 25px;
}
